.movie-container.review-container {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.new-review-container {
    background-color: #333333;
    padding: 20px;
    border-radius: 12px;
    border-color: #646cff;
    border-style: double;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    /* Ensures this container is the same width as the movie container */
    max-width: 1200px;
    margin: 0 auto;
    /* Centers the container horizontally */
}

/* Input and textarea styling */
.new-review-container input,
.new-review-container textarea,
.new-review-container select {
    background-color: #444444;
    padding: 0.8em;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
}

button:hover {
    border-color: #646cff;
}

.new-review-container button {
    width: 100%;
    margin-top: 10px;
}

.previous-reviews-container {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #333333;
    padding: 15px;
    border-radius: 12px;
    border-color: #646cff;
    border-style: double;
}

.previous-review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-review {
    font-size: 1em;
    margin-top: 10px;
}